/* for mobiles */
@media only screen and (max-width: 640px) {
    .main-container {
        --flexdir: column;
        --padding: 5% 0% 0% 0%;
        --widthmain: 95%;
    }
    figure {
        --heightfig: 325px;
        --widthfig: 100%;
    }
    .product-image {
        --imgmobile: url("/images/image-product-mobile.jpg");
    }
    .one {
        --zindexone: 0;
    }
    .two {
        --zindextwo: 1;
    }
    .card {
        --widthcard: 100%;
    }
    .desktop {
        display: none;
    }
    .buttonpad {
        padding-bottom: 8%;
    } 
}
/* for some custom devices */
@media only screen and (min-width: 640px) and (max-width:950px) {
    .main-container {
        --flexdir: row;
        --widthmain: 85%;
        --padding: 8% 0 0 0;
    }
    figure {
        --heightfig: 500px;
        --widthfig: 50%;
    }
    .product-image {
        --imgmobile: url("/images/image-product-desktop.jpg");
    }
    .one {
        --zindexone: 1;
    }
    .two {
        --zindextwo: 0;
    }
    .card {
        --heightcard: 500px;
        --widthcard: 50%;
    }
    .mobile {
        display: none;
    }
}
/* for more custom devices */
@media only screen and (min-width: 950px) and (max-width: 1080px) {
    .main-container {
        --flexdir: row;
        --widthmain: 60%;
        --padding: 8% 0 0 0;
    }
    figure {
        --heightfig: 500px;
        --widthfig: 50%;
    }
    .product-image {
        --imgmobile: url("/images/image-product-desktop.jpg");
    }
    .one {
        --zindexone: 1;
    }
    .two {
        --zindextwo: 0;
    }
    .card {
        --heightcard: 500px;
        --widthcard: 50%;
    }
    .mobile {
        display: none;
    }
}
/* for desktop */
@media only screen and (min-width: 1080px) {
    body {
        --flexdir: row; /* for class main-container*/
        --widthmain: 50%;
        --padding: 8% 0 0 0;
        --heightfig: 500px; /* for html figure */
        --widthfig: 50%;
        --imgmobile: url("/images/image-product-desktop.jpg"); /* for class product-image*/
        --zindexone: 1; /* for the changing images */
        --zindextwo: 0;
        --heightcard: 500px; /* for class card*/
        --widthcard: 50%;
    }
    .mobile {
        display: none;
    }
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    text-align: center;
    background-color: hsl(30, 38%, 92%);
    flex-direction: column;
}
.main-container {
    flex-direction: var(--flexdir);
    text-align: center;
    width: var(--widthmain);
    padding: var(--padding);
}
figure {
    width: var(--widthfig);
    height: var(--heightfig);
    position: relative;
    display: flex;
}
.product-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.one { z-index: var(--zindexone); }
.two { z-index: var(--zindextwo); }
.card {
    width: var(--widthcard);
    height: var(--heightcard);
    background-color: hsl(0, 0%, 100%); /* white */
}
h4 {
    text-align: left;
    padding: 10% 5% 2% 10%;
    font-family: 'Montserrat', sans-serif;
    color: #b3b3b3;
}
h1 {
    font-size: 40px;
    padding: 0% 0% 0% 10%;
    text-align: left;
    font-family: 'Fraunces', serif;
    font-weight: bold;
    line-height: 105%;
}
p {
    text-align: left;
    padding: 5% 0 3% 10%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    word-spacing: 9px;
    color: #737373;
}
.pricing-section {
    justify-content: flex-start; /* default value */
    padding: 9% 0 5% 10%;
    font-family: 'Fraunces', serif;
    font-size: 28px;
    color: hsl(158, 36%, 37%);
}
.mrp-price {
    padding: 0 0 0 10%;
    font-size: 10px;
    color: grey;
}
button {
    width: 80%;
    background-color: hsl(158, 36%, 37%);
    height: 55px;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.no-margin { margin: 0; }